<header class="blog-header p-3 sticky-top">
  <div class="container">  
    <div class="row flex-nowrap justify-content-between align-items-center">
      <div class="col-4">
        <%= link_to "Product in Progress", root_path, class: "blog-header-logo text-dark" %>
      </div>
      <div class="col-4 d-flex justify-content-end align-items-center">
        <% if current_user.present? %>
        <div class="btn-group">
          <%= link_to 'New Post', new_post_path, class: "btn btn-outline-info" %>
          <%= link_to "Logout", destroy_user_session_path, class: "btn btn-outline-danger" %>
        </div>
        <% else %>
          Subscribe
        <% end %>
      </div>
  </div>
  </div>
</header>