<div class="nav-scroller py-1 mb-2">
  <nav class="nav d-flex justify-content-between">
    <a class="p-2 text-muted" href="#">StartUp Struggles</a>
    <a class="p-2 text-muted" href="#">New Products on Market</a>
    <a class="p-2 text-muted" href="#">What am I building</a>
    <a class="p-2 text-muted" href="#">Cool Articles to Follow</a>
    <a class="p-2 text-muted" href="#">Culture things</a>
    <a class="p-2 text-muted" href="#">Unsolicitated Opinion</a>
  </nav>
</div>
