<div class="jumbotron p-9 p-md-9 header">
	<div class="col-md-6 px-0">
	  <h1 class="display-4">What do I mean by Product-In-Progress?</h1>
	  <p class="lead my-5 font-italic">When I was a small child, my mum introduced me to 'The Simpsons'. <br> She gifted me a tee-shirt where Homer was with a 'work-in-progress' sign. The sign was not for the construction site, but for Homer himself. <br>
	  <%= link_to 'read more..', root_path %></p> 
	</div>
</div>