<div class="card mb-3 shadow-sm">
  <div class="row no-gutters">
    <div class="col-md-4">
	  <div class="u-lg-avatar">
	  	<%= image_tag "https://i.imgur.com/YcP0tikb.jpg", class: "img-fluid rounded-circle", alt: "Office Office" %> 
	  </div>  
	</div>
    <div class="col-md-8">
      <div class="card-body">
    <small class="d-block text-muted text-uppercase">Written by</small>
    <h3 class="h5 font-weight-medium mb-0"><a href="blog-profile.html">Hanna Wolfe</a> </h3>
    <p class="mb-0">I create advanced website builders made exclusively for web developers.</p>
    <p class="h6 font-weight-normal">Follow us on <a class="link-muted" href="#">Medium</a>, <a class="link-muted" href="#">Twitter</a>, <a class="link-muted" href="#">Facebook</a>, <a class="link-muted" href="#">YouTube</a>, and <a class="link-muted" href="#">Dribbble</a>.</p>
      </div>
    </div>
  </div>
</div>

