<div class="card bg-info text-white text-center p-5 m-5">
  <h4 class="mb-3">Like what you're reading? Subscribe to our top stories.</h4> 
    <!-- Form -->
    <form class=" mt-3 js-validate w-md-75 mx-md-auto">
      <div class="js-form-message">
        <div class="d-flex align-items-center">
          <label class="sr-only" for="subscribeSrArticle">Subscribe</label>
          <div class="input-group">
            <input type="email" class="form-control" name="email" id="subscribeSrArticle" placeholder="Your email" aria-label="Your email" required
                   data-msg="Please enter a valid email address."
                   data-error-class="u-has-error"
                   data-success-class="u-has-success">
          </div>
          <button type="submit" class="btn btn-light ml-3">Submit</button>

        </div>
      </div>
    </form>
</div>