<div class="border-bottom pb-2 mb-2">
    <div class="row align-items-md-center">
      <div class="col-md-7 mb-5 mb-md-0">
        <span class="d-block text-muted font-italic"> 
          Published on: <%= @post.updated_at.strftime("%d/%m/%Y")%> in <span class="topic_badge"> <%= link_to @post.topic.title, topic_path(@post.topic) %> </span></span>
       </div>
    <div class="col-md-5">
      <div class="d-md-flex justify-content-md-end align-items-md-center">
        <h4 class="text-secondary font-weight-medium ">Share:</h4>

        <a class="btn btn-sm btn-icon btn-soft-secondary btn-bg-transparent rounded-circle ml-2" href="#">
          <span class="fab fa-facebook-f btn-icon__inner"></span>
        </a>
        <a class="btn btn-sm btn-icon btn-soft-secondary btn-bg-transparent rounded-circle ml-2" href="#">
          <span class="fab fa-twitter btn-icon__inner"></span>
        </a>
        <a class="btn btn-sm btn-icon btn-soft-secondary btn-bg-transparent rounded-circle ml-2" href="#">
          <span class="fab fa-instagram btn-icon__inner"></span>
        </a>
        <a class="btn btn-sm btn-icon btn-soft-secondary btn-bg-transparent rounded-circle ml-2" href="#">
          <span class="fab fa-telegram btn-icon__inner"></span>
        </a>
      </div>
    </div>
  </div>
</div>