<div class="container">
  <div class="w-lg-75 border-top space-2 mx-lg-auto">
    <div class="mb-5">
      <h3 class="font-weight-medium">Related stories</h3>
    </div>

    <div class="row">
      <div class="col-md-6">
        <!-- Blog Card -->
        <article class="border-bottom h-100 py-5">
          <div class="row justify-content-between">
            <div class="col-6">
              <a class="d-inline-block text-muted font-weight-medium text-uppercase small" href="#">Product</a>
              <h4 class="h6 font-weight-medium mb-0">
                <a href="single-article.html">InVision design forward fund</a>
              </h4>
            </div>

            <div class="col-5">
              <img class="img-fluid" src="../../assets/img/500x280/img18.jpg" alt="Image Description">
            </div>
          </div>
        </article>
        <!-- End Blog Card -->
      </div>

      <div class="col-md-6">
        <!-- Blog Card -->
        <article class="border-bottom h-100 py-5">
          <div class="row justify-content-between">
            <div class="col-6">
              <a class="d-inline-block text-muted font-weight-medium text-uppercase small" href="#">Business</a>
              <h4 class="h6 font-weight-medium mb-0">
                <a href="single-article.html">What CFR really is about</a>
              </h4>
            </div>

            <div class="col-5">
              <img class="img-fluid" src="../../assets/img/500x280/img13.jpg" alt="Image Description">
            </div>
          </div>
        </article>
        <!-- End Blog Card -->
      </div>

      <div class="col-md-6">
        <!-- Blog Card -->
        <article class="border-bottom h-100 py-5">
          <div class="row justify-content-between">
            <div class="col-6">
              <a class="d-inline-block text-muted font-weight-medium text-uppercase small" href="#">Front academy</a>
              <h4 class="h6 font-weight-medium mb-0">
                <a href="single-article.html">What is KYC and why do we need it</a>
              </h4>
            </div>

            <div class="col-5">
              <img class="img-fluid" src="../../assets/img/500x280/img24.jpg" alt="Image Description">
            </div>
          </div>
        </article>
        <!-- End Blog Card -->
      </div>

      <div class="col-md-6">
        <!-- Blog Card -->
        <article class="border-bottom h-100 py-5">
          <div class="row justify-content-between">
            <div class="col-6">
              <a class="d-inline-block text-muted font-weight-medium text-uppercase small" href="#">Business</a>
              <h4 class="h6 font-weight-medium mb-0">
                <a href="single-article.html">Enjoy $1,000 worth of perks with Front for Business</a>
              </h4>
            </div>

            <div class="col-5">
              <img class="img-fluid" src="../../assets/img/500x280/img19.jpg" alt="Image Description">
            </div>
          </div>
        </article>
        <!-- End Blog Card -->
      </div>
    </div>
  </div>
</div>
<!-- End Blog Card Section -->
